body{
    font-family: Lato;
}

h1 {
    border: 3px solid black;
    text-align: center;
}


.frame {
    border: 1px solid black;
    border-radius: 5px;
    min-height: 60px;
    width: auto;
    background: white;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.small-frame{
    border: 1px solid black;
    border-radius: 5px;
    min-height: 75%;
    width: 75%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    margin: 2px;
}

#removeBtn{
    height: 75%;
    width: 90px;
}

#mother{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px
}